[user]
	name = amachn
	email = amachann2005@gmail.com
	signingkey = C:/Users/amach/.ssh/id_ed25519.pub
[core]
	autocrlf = true
	excludesFile = C:/Users/amach/.gitignore
	sshCommand = C:/WINDOWS/System32/OpenSSH/ssh.exe
[gpg]
	format = ssh
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[log]
	abbrevCommit = true
[url "git@github.com:"]
	insteadOf = "gh:"
[url "git@github.com:amachn/"]
	insteadOf = "amachn:"
